<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home page</title>
  </head>
  <body>
    <h1>This is Our Home page</h1>
    <h2><%= "zohaib AKram".toUpperCase() %></h2>
    <h3><%= ["zohaib", "Shoaib", "Mubashir"][2] %></h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus ab,
      perferendis doloribus corporis reprehenderit quia voluptatum minima aut
      architecto sed earum dignissimos neque consequuntur iure inventore
      adipisci sunt. Temporibus consequuntur impedit voluptas repellat
      architecto, odio commodi facere vero suscipit omnis fugiat tempora.
      Accusamus vel deleniti impedit numquam? Eaque quis ipsum at distinctio
      recusandae quas nam, aut rem nesciunt impedit illo alias harum quos velit
      sequi, molestias id provident asperiores esse quibusdam. Quidem beatae
      dolore dignissimos laboriosam quo incidunt voluptates suscipit quibusdam,
      vel sed explicabo illum itaque odio ad maiores commodi asperiores!
      Nostrum, autem saepe. Possimus, rem, tempora quisquam ut enim voluptatum
      distinctio suscipit quos cumque nisi repellendus optio sint natus illo sit
      cupiditate eligendi velit laudantium! Officia, error! Fugit illum nobis
      aut ducimus placeat pariatur eos rerum quisquam, non modi ab cupiditate,
      neque in quasi eaque odit, repudiandae nesciunt. Laborum, quos. Optio
      quibusdam debitis assumenda maxime unde commodi, nesciunt aperiam.
    </p>
    <button>Click me</button>
  </body>
</html>
